# Shared editor configuration <https://editorconfig.org>

# This is the top-most EditorConfig file which should apply to files below
root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.vim]
indent_size = 4
indent_style = space
